<header>
  <nav class="navbar navbar-expand-md bg-info">
    <a class="nav-link text-white" href="#">Opção 01</a>
    <a class="nav-link text-white" href="#">Opção 02</a>
    <a class="nav-link text-white" href="#">Opção 03</a>
  </nav>
</header>

<div class="">

  <form>
      <input type="text" name="nome" [(ngModel)] = "estado.nome">
      <input type="text" name="sigla" [(ngModel)] = "estado.sigla">
      <button type="button" name="button" (click) = "adicionar()" >Enter</button>
  </form>
<!--
  <ul *ngFor="let nome of nomes4">
    <li>{{ nome }}</li>
  </ul>
<br>
<br>
-->

  <table>
    <tr *ngFor="let est of listaEstado; let i = index">
      <td>{{ est.nome }}</td>
      <td>{{ est.sigla }}</td>
      <td>
        <button type="button" name="button" (click)="excluir(i)" >Excluir</button>
      </td>
      <td>
        <button type="button" name="button" (click)="alterar(i)" >Alterar</button>
      </td>
    </tr>
  </table>
</div>

<router-outlet></router-outlet>
